body {
    margin: 0;
    padding:0;
    background-image: url(../resources/img/fondo.jpg);
    background-color: #202643;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    overflow: hidden;
    background-color: #C8CCC4;
    margin-bottom: 4px;
}

li {
    float: left;
}

li a {
    transition: 1s;
    display: block;
    color: #202643;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 4px solid #C8CCC4;
}

li a:hover {
    background-color: black;
    color: white;
    border-bottom: 4px groove #C8CCC4;
}

/*Configuraciones de texto y titulos*/
body {
    font-size: 20px;
    font-family: texto-plano;
}

h1 {
    font-size: 40px;
    font-family: titulos;
}

/*configuraciones de superposición*/
input {
    position: relative;
    z-index: 0;
}

button {
    position: relative;
    z-index: 0;
}

button:hover {
    color: white;
}

img {
    position: relative;
    z-index: 0;
}

/*titulo de la página*/
.tituloSitio {
    background-image: url(../resources/img/pasto2.png);
    background-color: #202643;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size:contain;

    color: #C8CCC4;
    padding: 25px;
    padding-left: 15px;
}

.contenedorCabecera {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/*cuerpo de la página*/
.main {
    margin-top: 167px;
    padding-top: 25px;
    height: 100%;
}

.main-index {
    margin-top: 137px;
    padding-top: 25px;
    height: 100%;
}

/*formularios*/
.formulario {
    background-color: #f1f0eb;
    opacity: 0.8;
    border: 0;
}

/*botonPassword*/
.botonPass{
    background-color: white;
}
.botonPass:hover {
    background-color: white;
}

/*boton registro*/
.botonRegistro {
    background-color: #202643;
    /*border-radius: 25%;*/
    color: white;
}

/*FUENTES*/
@font-face {
    font-family: titulos;
    src: url(../resources/fonts/VarelaRound-Regular.ttf);
}

@font-face {
    font-family: texto-plano;
    src: url(../resources/fonts/Rubik-Regular.ttf);
}

/*fondo para crear planta*/
.body-new-planta {
    margin: 0;
    padding:0;
    background-image: url(../resources/img/new-planta.jpg);
    background-color: #202643;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*fondo para crear nueva consideracion para una planta*/
.body-consideracion-planta {
    margin: 0;
    padding:0;
    background-image: url(../resources/img/consideracion.jpg);
    background-color: #202643;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*fondo para crear nuevo admin*/
.body-admin-crear {
    margin: 0;
    padding:0;
    background-image: url(../resources/img/admin.jpg);
    background-color: #202643;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*Configuraciones para el select*/
.desplegable {
    float: left;
    transition: 1s;
    display: block;
    background-color: #C8CCC4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-style: none;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 4px solid #C8CCC4;
}

.desplegable:hover {
    background-color: black;
    color: white;
    border-bottom: 4px groove #C8CCC4;
}
