
.modal-contenido{
    background-color: #f1f0eb;
    border: 0;
    padding: 10px 20px;
    margin: 10% auto;
    position: relative;
    opacity: 1;
}
.modal{
    background-color: transparent;
    /*background-image: url(../../resources/img/carousel/publicar.jpg);*/
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
}
#miModal:target{
    opacity:1;
    pointer-events:auto;
}

body {
    margin: 0;
    padding:0;
    background-image: url(../resources/img/fondo.jpg);
    background-color: #C8CCC4;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor-input {
    background-color: #f1f0eb;
    border: 0;
    opacity: 0.8;
    padding: 20px;
    width: 400px;
    justify-content: center;
    text-align: center;
    /* IMPORTANTE */
}


.div {
    margin: 1rem;
}




.button-publicar {
    background: #154e68;
    width: 115px;
    height: 35px;
    font-size: 18px;
    text-align: center;
}